<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html::head">
  <!-- Required meta tags -->
</head>

<body>

<nav th:replace="fragments/head.html::navigation" >

</nav>

<div class="container">
  <div class="row py-2">
    <div class="col-12 mt-3">
    </div>
    <div class="col-12">
      <table class="table table-bordered my-2">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">price</th>
          <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
          <th scope="row" th:text="${product.id}">1</th>
          <td th:text="${product.title}">A</td>
          <td th:text="${product.price}">2</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<th:block th:replace="fragments/footer::skripts"></th:block>

</body>
</html>